venv/
__pycache__/
*.pyc
.env
.env.example
.env.local
*.env.local
test.db
perai.db
storage/companies/**/*
!storage/companies/logo/
!storage/companies/logo/placeholder.png
app/core/finetune/rag/companies/**/*
!app/core/finetune/rag/companies/.gitkeep
